.add-category {
  margin-bottom: 20px;

  &__input {
    border-radius: 5px 0 0 5px;
  }
  &__button {
    padding: 0 15px;
    font-size: 13px;
    line-height: 35px;
    background: #0ebac5;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
